.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header {
  border: 3px solid black;
  margin: 3rem;
  padding: 2rem;
  font-weight: bolder;
  background-color: #fff;
  color: #000;
}

.header:hover {
  background-color: #000;
  color: #fff;
}
